@model EvManager.Web.Models.EstacionCarga

@{
    ViewData["Title"] = "Detalles de la Estación de Carga";
}

<h1>Detalles de la Estación de Carga</h1>

<div>
    <h4>Estación de Carga</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>
        <dt class="col-sm-2">Ubicación</dt>
        <dd class="col-sm-10">@Model.Ubicacion</dd>
        <dt class="col-sm-2">Puertos Disponibles</dt>
        <dd class="col-sm-10">@Model.PuertosDisponibles</dd>
        <dt class="col-sm-2">Capacidad de Potencia (kW)</dt>
        <dd class="col-sm-10">@Model.CapacidadPotencia</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>